.search-box {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.search-btn {
  width: 60px;
  height: 60px;
  border-radius: 50% !important;
  background-color: #dfe6e9 !important;
  margin-left: 15px !important;
}
.search-icon {
  color: #30336b;
  font-size: 20px;
}
.MuiTextField-root {
  flex: 1;
}
fieldset {
  border-color: #fff !important;
}
label {
  color: #fff !important;
}
#search-gif {
  color: #fff;
}
